{% extends "mssql/layout.html" %}

{% block "body" %}
<h1> Flight {{flight.flight_id}} </h1>
  <ul>
     <li> From: {{flight.depature}}</li>
     <li> To: {{flight.arrival}}</li>
     <li> Duration: {{flight.duration}}</li>
  </ul>

<h1> Details </h1>
   <ul>
     {% if passenger %}
      {% for passenger1 in passenger %}
     <li> id: {{passenger1.pf_id}}</li>
     <li> Name: {{passenger1.passenger.first}} {{passenger1.passenger.last}}</li>
     <li> Flight: {{passenger1.flight.departure.city}} - {{passenger1.flight.arrival.city}}</li>
     <hr style="width:50%;text-align:left;margin-left:0;height:2px;border-width:0;color:gray;background-color:gray">
      {% endfor %}
     {% else %}
     <li>No Detail.</li>
     {% endif %}
      <a href:"{% url 'mssql:index' %}">Back to Index</a>
  </ul>
   <form action="{% url 'book' flight.flight_id %}" method="post">
    {% csrf_token %}
    <select name="passenger">
    {% for passenger1 in non_passenger %}
      <option value = {{ passenger.passenger_id }}>{{passenger}}</option>
    {% endfor %}
    </select>
    <input type="submit">
  <h2>Add a passenger</h2>
  
    <a href="{% url 'mssql:index' %}">Back to Home</a>
 {% endblock %}
 
