{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block body %}
<div class="container">
    <div class='col-md-8'>
        <h2>Home</h2>
            <form method='post'>
                {% csrf_token %}
                {{ form.errors }}
                {{ form.post }}
                <br>
                <button type="submit">Submit post</button>
            </form>
            <h2> {{ text}} </h2>
            {% for post in posts %}
                <h2> {{ post.post }} </h2>
                <p> Posted  by: {{post.user.first_name}} on {{post.created }} </p>
                <p> Updated by: {{post.user.first_name}} on {{post.updated }} </p>
            {% endfor %}
    </div>
    <div class='col-md-4'>
        <h2>Other people</h2>
        <table class="table table-bordered">
            {% for user in users %}
            <h3>
            <tr>
               <th>
                <a href="{% url 'accounts:view_profile_with_pk'  pk=user.pk %}">
                    {{ user.username }}
                </a>
                </th>
                <th>  
                {% if user not in friends%}
                <a href="{% url 'home:change_friends' operation='add' pk=user.pk %}"   
                <button type="button" class="btn btn-success">+</button>
                </a>
                {% endif %}
                </th>
            </tr>
            </h3>
            {% endfor %}
        </table>
        <h2>Friends</h2>
        <table class="table table-bordered">
       {% if friends %}     
            {% for friend in friends %}
            <h3>
            <tr>
               <th>
                <a href="{% url 'accounts:view_profile_with_pk'  pk=friend.pk %}">
                    {{friend.username }}
                </a>
                </th>
                <th>   
                <a href="{% url 'home:change_friends' operation='remove' pk=friend.pk %}" 
                <button type="button" class="btn btn-warning">-</button>
                </a>
                </th>
            </tr>
            </h3>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}